WorkStation_UPD/ECGWorkStation/Service References/WebService/ECGService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ECGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IECGService_loadAFrameFromRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:loadAFrameFromRecord" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadAFrameFromRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadAFrameFromRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteECGRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteECGRecord" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteECGRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteECGRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getUserByUsernamePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsernamePassword" />
  </wsdl:message>
  <wsdl:message name="IECGService_getUserByUsernamePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsernamePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUser" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getUserByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsername" />
  </wsdl:message>
  <wsdl:message name="IECGService_getUserByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewUser" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_editUser_InputMessage">
    <wsdl:part name="parameters" element="tns:editUser" />
  </wsdl:message>
  <wsdl:message name="IECGService_editUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:editUserResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_generatePatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:generatePatientID" />
  </wsdl:message>
  <wsdl:message name="IECGService_generatePatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:generatePatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_generateDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:generateDoctorID" />
  </wsdl:message>
  <wsdl:message name="IECGService_generateDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_generateRecordID_InputMessage">
    <wsdl:part name="parameters" element="tns:generateRecordID" />
  </wsdl:message>
  <wsdl:message name="IECGService_generateRecordID_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateRecordIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientsByName" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPatient" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPatientID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPatientID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPatientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPatientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByResDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByResDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByResDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByResDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByNotResDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByNotResDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByNotResDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByNotResDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewPatient" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_editPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:editPatient" />
  </wsdl:message>
  <wsdl:message name="IECGService_editPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:editPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByName_resDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByName_resDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByName_resDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByName_resDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByName_notResDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByName_notResDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_getPatientByName_notResDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByName_notResDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getResponsibleDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getResponsibleDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_getResponsibleDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponsibleDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_editDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:editDoctor" />
  </wsdl:message>
  <wsdl:message name="IECGService_editDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:editDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllDoctorID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDoctorID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllDoctorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDoctorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewMedicalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewMedicalReport" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewMedicalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewMedicalReportResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_editMedicalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:editMedicalReport" />
  </wsdl:message>
  <wsdl:message name="IECGService_editMedicalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:editMedicalReportResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewComment_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewComment" />
  </wsdl:message>
  <wsdl:message name="IECGService_addNewComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_editComment_InputMessage">
    <wsdl:part name="parameters" element="tns:editComment" />
  </wsdl:message>
  <wsdl:message name="IECGService_editComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:editCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getCommentByRID_InputMessage">
    <wsdl:part name="parameters" element="tns:getCommentByRID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getCommentByRID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCommentByRIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getCommentContent_InputMessage">
    <wsdl:part name="parameters" element="tns:getCommentContent" />
  </wsdl:message>
  <wsdl:message name="IECGService_getCommentContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCommentContentResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteComment" />
  </wsdl:message>
  <wsdl:message name="IECGService_deleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPattern_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPattern" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllPattern_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPatternResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllRecordByPID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecordByPID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getAllRecordByPID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecordByPIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecordByID" />
  </wsdl:message>
  <wsdl:message name="IECGService_getRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_getRecordByPIDBetween_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecordByPIDBetween" />
  </wsdl:message>
  <wsdl:message name="IECGService_getRecordByPIDBetween_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecordByPIDBetweenResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRecord" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRawRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRawRecord" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRawRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRawRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRecord12_InputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRecord12" />
  </wsdl:message>
  <wsdl:message name="IECGService_loadECGRecord12_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadECGRecord12Response" />
  </wsdl:message>
  <wsdl:portType name="IECGService">
    <wsdl:operation name="loadAFrameFromRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/loadAFrameFromRecord" message="tns:IECGService_loadAFrameFromRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/loadAFrameFromRecordResponse" message="tns:IECGService_loadAFrameFromRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteECGRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/deleteECGRecord" message="tns:IECGService_deleteECGRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/deleteECGRecordResponse" message="tns:IECGService_deleteECGRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByUsernamePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getUserByUsernamePassword" message="tns:IECGService_getUserByUsernamePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getUserByUsernamePasswordResponse" message="tns:IECGService_getUserByUsernamePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllUser" message="tns:IECGService_getAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllUserResponse" message="tns:IECGService_getAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getUserByUsername" message="tns:IECGService_getUserByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getUserByUsernameResponse" message="tns:IECGService_getUserByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/addNewUser" message="tns:IECGService_addNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/addNewUserResponse" message="tns:IECGService_addNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/editUser" message="tns:IECGService_editUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/editUserResponse" message="tns:IECGService_editUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/deleteUser" message="tns:IECGService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/deleteUserResponse" message="tns:IECGService_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generatePatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/generatePatientID" message="tns:IECGService_generatePatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/generatePatientIDResponse" message="tns:IECGService_generatePatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/generateDoctorID" message="tns:IECGService_generateDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/generateDoctorIDResponse" message="tns:IECGService_generateDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateRecordID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/generateRecordID" message="tns:IECGService_generateRecordID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/generateRecordIDResponse" message="tns:IECGService_generateRecordID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientByID" message="tns:IECGService_getPatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientByIDResponse" message="tns:IECGService_getPatientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientsByName" message="tns:IECGService_getPatientsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientsByNameResponse" message="tns:IECGService_getPatientsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllPatient" message="tns:IECGService_getAllPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllPatientResponse" message="tns:IECGService_getAllPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPatientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllPatientID" message="tns:IECGService_getAllPatientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllPatientIDResponse" message="tns:IECGService_getAllPatientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByResDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientByResDoctor" message="tns:IECGService_getPatientByResDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientByResDoctorResponse" message="tns:IECGService_getPatientByResDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByNotResDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientByNotResDoctor" message="tns:IECGService_getPatientByNotResDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientByNotResDoctorResponse" message="tns:IECGService_getPatientByNotResDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/addNewPatient" message="tns:IECGService_addNewPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/addNewPatientResponse" message="tns:IECGService_addNewPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/editPatient" message="tns:IECGService_editPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/editPatientResponse" message="tns:IECGService_editPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByName_resDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientByName_resDoctor" message="tns:IECGService_getPatientByName_resDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientByName_resDoctorResponse" message="tns:IECGService_getPatientByName_resDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByName_notResDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getPatientByName_notResDoctor" message="tns:IECGService_getPatientByName_notResDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getPatientByName_notResDoctorResponse" message="tns:IECGService_getPatientByName_notResDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getResponsibleDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getResponsibleDoctor" message="tns:IECGService_getResponsibleDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getResponsibleDoctorResponse" message="tns:IECGService_getResponsibleDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/addNewDoctor" message="tns:IECGService_addNewDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/addNewDoctorResponse" message="tns:IECGService_addNewDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/editDoctor" message="tns:IECGService_editDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/editDoctorResponse" message="tns:IECGService_editDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDoctorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllDoctorID" message="tns:IECGService_getAllDoctorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllDoctorIDResponse" message="tns:IECGService_getAllDoctorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewMedicalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/addNewMedicalReport" message="tns:IECGService_addNewMedicalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/addNewMedicalReportResponse" message="tns:IECGService_addNewMedicalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editMedicalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/editMedicalReport" message="tns:IECGService_editMedicalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/editMedicalReportResponse" message="tns:IECGService_editMedicalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/addNewComment" message="tns:IECGService_addNewComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/addNewCommentResponse" message="tns:IECGService_addNewComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/editComment" message="tns:IECGService_editComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/editCommentResponse" message="tns:IECGService_editComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCommentByRID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getCommentByRID" message="tns:IECGService_getCommentByRID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getCommentByRIDResponse" message="tns:IECGService_getCommentByRID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCommentContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getCommentContent" message="tns:IECGService_getCommentContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getCommentContentResponse" message="tns:IECGService_getCommentContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/deleteComment" message="tns:IECGService_deleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/deleteCommentResponse" message="tns:IECGService_deleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPattern">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllPattern" message="tns:IECGService_getAllPattern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllPatternResponse" message="tns:IECGService_getAllPattern_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllRecordByPID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getAllRecordByPID" message="tns:IECGService_getAllRecordByPID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getAllRecordByPIDResponse" message="tns:IECGService_getAllRecordByPID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getRecordByID" message="tns:IECGService_getRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getRecordByIDResponse" message="tns:IECGService_getRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecordByPIDBetween">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/getRecordByPIDBetween" message="tns:IECGService_getRecordByPIDBetween_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/getRecordByPIDBetweenResponse" message="tns:IECGService_getRecordByPIDBetween_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadECGRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/loadECGRecord" message="tns:IECGService_loadECGRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/loadECGRecordResponse" message="tns:IECGService_loadECGRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadECGRawRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/loadECGRawRecord" message="tns:IECGService_loadECGRawRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/loadECGRawRecordResponse" message="tns:IECGService_loadECGRawRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadECGRecord12">
      <wsdl:input wsaw:Action="http://tempuri.org/IECGService/loadECGRecord12" message="tns:IECGService_loadECGRecord12_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IECGService/loadECGRecord12Response" message="tns:IECGService_loadECGRecord12_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IECGService" type="tns:IECGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loadAFrameFromRecord">
      <soap:operation soapAction="http://tempuri.org/IECGService/loadAFrameFromRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteECGRecord">
      <soap:operation soapAction="http://tempuri.org/IECGService/deleteECGRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsernamePassword">
      <soap:operation soapAction="http://tempuri.org/IECGService/getUserByUsernamePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <soap:operation soapAction="http://tempuri.org/IECGService/getUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <soap:operation soapAction="http://tempuri.org/IECGService/addNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="http://tempuri.org/IECGService/editUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IECGService/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generatePatientID">
      <soap:operation soapAction="http://tempuri.org/IECGService/generatePatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateDoctorID">
      <soap:operation soapAction="http://tempuri.org/IECGService/generateDoctorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateRecordID">
      <soap:operation soapAction="http://tempuri.org/IECGService/generateRecordID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsByName">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPatient">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPatientID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllPatientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByResDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientByResDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByNotResDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientByNotResDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewPatient">
      <soap:operation soapAction="http://tempuri.org/IECGService/addNewPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPatient">
      <soap:operation soapAction="http://tempuri.org/IECGService/editPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByName_resDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientByName_resDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByName_notResDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/getPatientByName_notResDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResponsibleDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/getResponsibleDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/addNewDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDoctor">
      <soap:operation soapAction="http://tempuri.org/IECGService/editDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDoctorID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllDoctorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewMedicalReport">
      <soap:operation soapAction="http://tempuri.org/IECGService/addNewMedicalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editMedicalReport">
      <soap:operation soapAction="http://tempuri.org/IECGService/editMedicalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewComment">
      <soap:operation soapAction="http://tempuri.org/IECGService/addNewComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editComment">
      <soap:operation soapAction="http://tempuri.org/IECGService/editComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentByRID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getCommentByRID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommentContent">
      <soap:operation soapAction="http://tempuri.org/IECGService/getCommentContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="http://tempuri.org/IECGService/deleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPattern">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecordByPID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getAllRecordByPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordByID">
      <soap:operation soapAction="http://tempuri.org/IECGService/getRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordByPIDBetween">
      <soap:operation soapAction="http://tempuri.org/IECGService/getRecordByPIDBetween" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadECGRecord">
      <soap:operation soapAction="http://tempuri.org/IECGService/loadECGRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadECGRawRecord">
      <soap:operation soapAction="http://tempuri.org/IECGService/loadECGRawRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadECGRecord12">
      <soap:operation soapAction="http://tempuri.org/IECGService/loadECGRecord12" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECGService">
    <wsdl:port name="BasicHttpBinding_IECGService" binding="tns:BasicHttpBinding_IECGService">
      <soap:address location="http://ecgproject.somee.com/ECGServices/ECGService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>