trunk/ECGWorkStation/Service References/WebService/ECGService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://ecgproject.somee.com/ECGServices/ECGService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="loadAFrameFromRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadAFrameFromRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadAFrameFromRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteECGRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteECGRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteECGRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernamePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserByUsernamePasswordResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllUserResult" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserByUsernameResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permission" type="xs:int" />
        <xs:element minOccurs="0" name="realID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permission" type="xs:int" />
        <xs:element minOccurs="0" name="realID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePatientID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generatePatientIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateDoctorID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="generateDoctorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generateDoctorIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateRecordID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateRecordIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generateRecordIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientByIDResult" nillable="true" type="q4:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientsByNameResult" nillable="true" type="q5:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPatientResult" nillable="true" type="q6:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPatientID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllPatientIDResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByResDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByResDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientByResDoctorResult" nillable="true" type="q8:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByNotResDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByNotResDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientByNotResDoctorResult" nillable="true" type="q9:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gioitinh" type="xs:boolean" />
        <xs:element minOccurs="0" name="cannang" type="xs:float" />
        <xs:element minOccurs="0" name="nghenghiep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewPatientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gioitinh" type="xs:boolean" />
        <xs:element minOccurs="0" name="cannang" type="xs:float" />
        <xs:element minOccurs="0" name="nghenghiep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPatientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByName_resDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByName_resDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientByName_resDoctorResult" nillable="true" type="q10:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByName_notResDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientByName_notResDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPatientByName_notResDoctorResult" nillable="true" type="q11:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsibleDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsibleDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getResponsibleDoctorResult" nillable="true" type="q12:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewDoctorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editDoctorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDoctorID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDoctorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllDoctorIDResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewMedicalReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lydovaovien" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trieuchung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtrangcothe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cacphuongphapdieutri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtranghientai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusubanthan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusugiadinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusuthancan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sinhhoatcanhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chuandoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nguyennhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mabs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewMedicalReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewMedicalReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMedicalReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lydovaovien" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trieuchung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtrangcothe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cacphuongphapdieutri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtranghientai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusubanthan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusugiadinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tieusuthancan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sinhhoatcanhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chuandoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nguyennhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mabs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMedicalReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editMedicalReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBanGhi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaycapnhat" type="xs:dateTime" />
        <xs:element minOccurs="0" name="noidung" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBanGhi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maBS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaycapnhat" type="xs:dateTime" />
        <xs:element minOccurs="0" name="noidung" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentByRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentByRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCommentByRIDResult" nillable="true" type="q14:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentContentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCommentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPattern">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPatternResult" nillable="true" type="q15:ArrayOfPattern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecordByPID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecordByPIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllRecordByPIDResult" nillable="true" type="q16:ArrayOfHistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRecordByIDResult" nillable="true" type="q17:HistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecordByPIDBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecordByPIDBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRecordByPIDBetweenResult" nillable="true" type="q18:ArrayOfHistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadECGRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRawRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRawRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadECGRawRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRecord12">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadECGRecord12Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadECGRecord12Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>